{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $title := .Title }}
{{ $sections := (slice "overview" "introduction" "core" "intermediate" "advanced" "programs") }}

<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">

				{{ range $sec := $sections }}
					<h4>{{ $sec }}</h4>
					<hr />
					{{ range (index $.Site.Taxonomies.subsections $sec) }}
							<li {{ if eq .Page.Title $title }}class="active"{{ end }}>
							<a href="{{ .Page.RelPermalink }}">
							{{ if isset .Page.Params "shorttitle" }}
								{{ .Page.Params.shorttitle }}
							{{ else }}
								{{ .Page.Title }}
							{{ end }}
							</a></li>
					{{ end }}
				{{ end }}

			</ul>
		</div>

		<div class="content col-sm-9 col-md-10">
			<h2>{{ .Title }}</h2>
			{{ .Content }}
			<hr />

			{{ $curTitle := .Title }}
			{{ $.Scratch.Set "lastLink" "" }}
			{{ $.Scratch.Set "lastTitle" "" }}

			{{ range $sec := $sections }}
			{{ range (index $.Site.Taxonomies.subsections $sec) }}

				{{ if eq ($.Scratch.Get "lastTitle") $curTitle }}
					{{ $.Scratch.Set "nextLink" .Page.RelPermalink }}
					{{ $.Scratch.Set "nextTitle" .Page.Title }}
				{{ end }}

				{{ if eq .Page.Title $curTitle }}
					{{ $.Scratch.Set "prevLink" ($.Scratch.Get "lastLink") }}
					{{ $.Scratch.Set "prevTitle" ($.Scratch.Get "lastTitle") }}
				{{ end }}

				{{ $.Scratch.Set "lastLink" .Page.RelPermalink }}
				{{ $.Scratch.Set "lastTitle" .Page.Title }}
			{{ end }}
			{{ end }}

			{{ with $.Scratch.Get "prevLink" }}
			<span>previous: <a href="{{ . }}">{{ $.Scratch.Get "prevTitle" }}</a></span>
			{{ end }}

			{{ with $.Scratch.Get "nextLink" }}
			<span class='nextpage'>next: <a href="{{ . }}">{{ $.Scratch.Get "nextTitle" }}</a></span>
			{{ end }}

		</div>

	</div>
</div>
{{ partial "footer.html" . }}
