{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
	{{ if eq .Parent.Kind "home" }}

	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar nav-side-menu">
		<div class="brand">Courses</div>
			<div class="menu-list">
			<ul id="menu-content" class="menu-content out">
			{{ range .Sections }}
				<li><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></li>
			{{ end }}
			</ul>
			</div>
		</div>

		<div class="content col-sm-9 col-md-10">
			<h2>{{ .Params.name }}</h2>
			{{ .Content }}

			{{ range .Sections }}
				<div class="admonition note">
					<p class="heading">{{ .Params.name }}</p>
					<hr />
					{{ .Summary }}
				<p><a href="{{ .RelPermalink }}">
					read more</a></p>
				</div>
			{{ end }}
		</div>
	</div>

  {{ else }}
		{{ partial "progcontent.html" (dict "cur" . "root" .) }}
	{{ end }}
</div>
{{ partial "footer.html" . }}
